canvas#screen {
  border: 2px solid #333;
  box-shadow: 4px 4px 4px #777;
}

#level {
    font-size: 20px;
	color: red;
    position: absolute;
    top: 90px;
    left: 20px;
    z-index: 1;
}
#levelDiv {
    font-size: 20px;
	color: cyan;
    position: absolute;
    top: 90px;
    left: 80px;
    z-index: 1;
}
#score {
    font-size: 20px;
	color: red;
    position: absolute;
    top: 90px;
    left: 620px;
    z-index: 1;
}
#scoreDiv {
    font-size: 20px;
	color: cyan;
    position: absolute;
    top: 90px;
    left: 680px;
    z-index: 1;
}
#scoreFeedDiv {
    font-size: 15px;
	color: cyan;
    position: absolute;
    top: 110px;
    left: 675px;
    z-index: 1;
}
#lives {
    font-size: 20px;
	color: red;
    position: absolute;
    top: 90px;
    left: 480px;
    z-index: 1;
}
#fpsDiv {
    font-size: 15px;
	color: green;
    position: absolute;
    top: 60px;
    left: 740px;
    z-index: 1;
}
#fps{
    font-size: 15px;
	color: black;
    position: absolute;
    top: 60px;
    left: 710px;
    z-index: 1;
}
#messageDiv {
	font-size: 45px;
	color: red;
	font-weight: bold;
	position: absolute;
	top: 235px;
	left: 285px;
	z-index: 1;
}